<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CheckUser</servlet-name>
  	<display-name>CheckUser</display-name>
  	<description>Simple Servlet to check if a user exists</description>
  	<servlet-class>com.syder.itservices.filesmanager.servlet.CheckUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckUser</servlet-name>
  	<url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>
</web-app>
